.form-contain{
    height: 100vh;
}
input,
button{
    height: 45px !important;
}
input::placeholder{
    font-size: 13px;
}
label{
    font-size: 14px !important;
}
.warning{
    font-size: 13px;
}
fieldset{
    background-color: whitesmoke !important;
}
.model-box{
    height: 60px !important;
    animation: slide 5s linear;
    transition: all 2s linear;
}
@keyframes slide {
    0%{
        margin-right: -500px;
    }
    50%{
        margin-right: -250px;
    }
    100%{
        margin-right: 0px;
    }
}