{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fake news detection app, Fake news, How to detect fake news.">
    <link rel="stylesheet" href="{% static '../static/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}">
    <title>Detect Fake News | Login</title>
</head>
<body>
    <div class="row mx-0 py-2 px-0 bg-dark col-12 form-contain">
        <div class="container p-lg-0 px-2 row align-items-center justify-content-center mx-lg-auto m-0">
            <div class="row align-items-center justify-content-center col-12 m-0 p-0">
                <form method="post" class="col-lg-4 col-12 p-0 m-0 rounded-3" id="form">
                    {% csrf_token %}
                    <fieldset class="row col-12 fs-6 m-0 gap-4 text-capitalize text-dark p-0 m-0 border rounded-3 shadow">
                        <div class="bg-warning p-2">
                            <legend class="fs-4 m-0 fw-bold">Welcome</legend>
                        </div>
                        <div class="row col-12 p-2 m-0 gap-2 text-capitalize">
                            <div class="d-flex flex-column gap-1 col-12">
                                <label for="email">Email</label>
                                <div class="col-12 d-flex flex-column">
                                    <input class="form-control m-0 p-1" placeholder="Enter your email" type="email" name="email" id="email">
                                    <span class="text-danger warning" id="warning3"></span>
                                </div>
                            </div>
                            <div class="d-flex flex-column gap-1 col-12">
                                <label for="password">Password</label>
                                <div class="col-12 d-flex flex-column">
                                    <input class="form-control m-0 p-1" placeholder="**********" type="password" name="password" id="password">
                                    <span class="text-danger warning" id="warning4"></span>
                                </div>
                            </div>
                        </div>
                        <div class="button">
                            <button type="submit" class="bg-warning border-0 rounded-3 button col-12 fs-5 fw-semibold">Login</button>
                        </div>
                        <div class="d-flex align-items-center gap-2 justify-content-center text-capitalize fw-bold p-2">
                            <p class="m-0">Don't have an account?</p>
                            <a class="text-decoration-none text-warning" href="{% url 'account:register' %}">Register</a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="text-white col-lg-3 col-12 text-center">
                <span>&copy;<span id="year"></span> Detect Fake News. Right reserved</span>
            </div>
        </div>
    </div>
    <div class="position-absolute h-100 top-0 bottom-0 end-0 start-0 row m-0 p-2 justify-content-end col-12 z-3 text-dark overflow-hidden" id="model">
        <div class="col-3 p-2 bg-white rounded-3 model-box d-flex align-items-center">
            <span class="fs-5" id="msg"></span>
        </div>
    </div>
</body>
<script src="{% static '../static/js/scripts.js' %}"></script>
<script src="{% static '../static/js/login.js' %}"></script>
</html>