.form-container{
    height: 100vh;
}
.header-holder{
    height: 60px;
}
input,
button{
    height: 45px !important;
}
input::placeholder{
    font-size: 13px;
}
label{
    font-size: 14px !important;
}
.warning{
    font-size: 13px;
}
fieldset{
    background-color: whitesmoke !important;
}
.model-box{
    height: 60px !important;
    animation: slide 5s linear;
    transition: all 2s linear;
}
.navbar-toggler:focus{
    outline: none !important;
    border: none !important;
}
@keyframes slide {
    0%{
        margin-right: -500px;
    }
    50%{
        margin-right: -250px;
    }
    100%{
        margin-right: 0px;
    }
}
@media only screen and (max-width: 350px) {
    .text-fs{
        font-size: 15px;
    }
    .form-container{
        height: 100%;
    }
}